<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>系统公告</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="asserts/css/style.css" th:href="@{/asserts/css/style.css}">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
</head>
<body>
<!--导航-->
<!--顶部-->
<div th:replace="commons/bar::topbar"></div>

<!--中间-->
<div class="m-padded-tb-max m-container-small">
    <div class="ui container">
        <div class="ui attached m-padded-tb-max segment">
            <!--context-->
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label">系统公告</div>
            </div>
            <h2 class="ui center aligned  header">关于博客系统上线通知</h2>
            <br>
            <div id="content" class="m-padded-lr m-padded-tb-max">
                <p>由<strong style="color: rgb(84, 141, 212); font-size: 24px;">@</strong><span
                        style="color: rgb(84, 141, 212); font-size: 24px;"><strong>男神项目组</strong></span>开发的个人博客系统于<span
                        style="font-size: 20px; color: rgb(255, 0, 0);">9月30号</span>正式上线啦！<span
                        style="font-size: 18px;">！</span><span style="font-size: 20px;">！<span style="font-size: 24px;">！</span></span>
                </p>
                <p><span style="font-size: 16px;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;您可以在这个博客系统上分享自己的生活，有趣的事，还有有用的小技巧；同样您也能在这增长见识拓宽视野，我们期待在这与您相遇。</span>
                </p>
                <br><br>
                <center><img src="/blog/asserts/image/blog.svg" style="width: 30%;"/></center>
                <br><br>
                <p style="text-align: right;"><strong
                        style="text-align: right; white-space: normal; color: rgb(84, 141, 212); font-size: 24px;">——</strong>&#8203;&nbsp;<strong
                        style="white-space: normal; color: rgb(84, 141, 212); font-size: 24px;">@</strong><span
                        style="color: rgb(84, 141, 212); font-size: 24px;"><strong>男神项目组</strong></span></p>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div style="height: 200px"></div>
<div th:replace="commons/bar::footer"></div>
</body>
</html>