<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客详情</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="asserts/css/style.css" th:href="@{/asserts/css/style.css}">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
</head>
<body>
<!--导航-->
<!--顶部-->
<div th:replace="commons/bar::topbar"></div>

<!--中间-->
<div class="m-padded-tb-max m-container-small">
    <div class="ui container">
        <div class="ui attached m-padded-tb-max segment">
            <!--context-->
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label">科技兴国</div>
            </div>
            <h2 class="ui center aligned  header">一看就懂：华为的鸿蒙系统到底是干什么用的？</h2>
            <br>
            <div id="content" class="m-padded-lr m-padded-tb-max">
                <p>华为的鸿蒙（Harmony
                    OS）系统正式发布了，在发布会之后意料之中的出现了两极分化的评论趋势，说什么的都有，像什么忽悠人、改别人的、手机不能用等等，但如果你仔细去分析发布会上有关鸿蒙系统的全程内容，你会发现它和大多数评论中的那个“系统”是不一样的，大家不要盲目去诋毁“鸿蒙系统”，同时也不要肆意吹捧，否则很容易变成“捧杀”，在参与讨论之前，我觉得大家有必要先搞清楚，它是一个什么样的系统。</p>
                <center><img
                        src="http://5b0988e595225.cdn.sohucs.com/images/20190810/7f24010e256e431bbbea6ff2e6ebb99d.jpeg"
                        width="700"></center>
                <p>在发布会上，他们用了很多专业的名词进行功能解释，我相信这是大多数观众听不懂的，甚至大多数媒体的编辑也听不懂，在这种背景下，不管是吹捧的，还是诋毁的，都没在靠谱的频道上。</p>
                <p>Harmony OS 鸿蒙，基于微内核的全场景分布式OS。</p>
                <p>“基于微内核的全场景分布式OS”这句话是重点，它不是一个专门为单独设备准备的系统，它是一个平台式的系统，可以通过中心网络派发资源和功能，所有功能又可以单独使用，灵活多变但统一和谐。</p>
                <p>
                    我们再来深入地拆解一下鸿蒙系统，它与普通系统最大的不同之处在于，它在运行程序的一开始并不是直接执行所有内容，而是先判断你是什么设备，然后直接走单独的通道去执行，而所执行的这些程序，不管你是电视、电脑、还是手机，它们用的都是同一套系统，只是在最开始的时候选择了一下设备，这个系统并不是给某种设备单独定制的，而是一个通用的系统。</p>
                <p>
                    这样做的好处就是，每次你需要维护的时候，只需要把第一层的东西做升级，下面的底层是不用动的。这就好像系统是一台CD机，不管谁家的CD都可以在我这里播放，只要你按统一的Copy程序做的光盘就行了，如果你想听其他人的音乐，只要换张CD即可。</p>
                <p>而以往的系统就比较麻烦，如果你想换一张CD，可能需要针对这张CD去制造一台CD机，最差也得把这台CD机修改成可以播放的样子。</p>
                <p>除了设备间的独立之外，它会让硬件本身的功能成为系统可以调配的东西，比如手机上的摄像头，它甚至可以通过系统间的调度被电视或手表使用，因为它们用的是同一个系统，所以具备了相互通信的能力。</p>
                <p>你们有没有看过《速度与激情》这部电影，它里面的天眼系统其实就是在调配所有生活周边的摄像头来获取画面，从而准确地追踪到目标人物。虽然鸿蒙还没有这么高级，但它已经是个雏形了。</p>
                <p>相信很快我们就可以用家里的电视屏幕当大疆无人机的显示屏用了，这会给我们带来无限的娱乐空间。</p>
                <p>当然要实现这种功能上的调用需要二个条件，第一个就是必须是采用了鸿蒙系统的硬件；第二就是必须登陆了相同的华为账号。这里面涉及到了另一个生态的问题，我们后面再讲，还是先说系统。</p>
                <p>
                    我们来看一下鸿蒙OS的整体结构，其实它仍然保留了Linux内核，这样一来就可以直接兼容安卓应用，这在初期是非常重要的，毕竟不能让用户买回来没得用，在这段过度期中间，华为方面肯定会联合各大主流厂商定制属于鸿蒙OS的专用APP，这才是发挥它性能的最佳方式。</p>
                <p>
                    也就是说，在兼容安卓APP的这个时间里，它的威力还没办法完全施展出来，当那些采用“方舟编译器”开发的应用上线之后，才能发挥它至少八成以上的实力，当鸿蒙OS的生态建立完全时，才可以发挥接近100%的实力。这也是我为什么说，鸿蒙OS需要时间来沉淀，它不可能一上来就是满血状态。</p>
                <p>我们可以理解为，现在所有用“方舟编译器”开发的应用，都可以在鸿蒙OS中发挥最快的效率。</p>
                <p>当使用方舟编译器的应用足够多时，或者说90%以上常用APP都有方舟编译器的版本时，鸿蒙OS的底层会完全抛弃Linux内核，只保留鸿蒙微内核，这个时候才是鸿蒙（Harmony
                    OS）系统正式独立且完全独立的日子，这一天才是它的真正崛起的日子。</p>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div th:replace="commons/bar::footer"></div>
</body>
</html>