<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客详情</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="asserts/css/style.css" th:href="@{/asserts/css/style.css}">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
</head>
<body>
<!--导航-->
<!--顶部-->
<div th:replace="commons/bar::topbar"></div>

<!--中间-->
<div class="m-padded-tb-max m-container-small">
    <div class="ui container">
        <div class="ui attached m-padded-tb-max segment">
            <!--context-->
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label">心灵鸡汤</div>
            </div>
            <h2 class="ui center aligned  header">心灵鸡汤[励志篇]</h2>
            <br>
            <div id="content" class="m-padded-lr m-padded-tb-max">
                <p>不管你现实在努力着去实现梦想却没能拉近与梦想的距离，还是你已经慢慢地找不到自己的梦想了。你要去相信，一定要相信，没有到不了的明天。下面小编整理了一些心灵鸡汤励志语给大家，希望大家能够喜欢!</p>
                <center><img src="https://pic1.zhimg.com/80/v2-25533587065624613878d11cf0a72d5d_720w.jpg"></center>
                <p>1、人一定要经得起假话，受得起敷衍，忍得住欺骗，忘得了诺言，放得下一切。失去的东西，其实从来未曾真正地属于你，也不必惋惜。</p>
                <p>2、人的一生，都有一些说不出的秘密，挽不回的遗憾，触不到的梦想，忘不了的爱。对别人要求松一点，就不会总失望;对自己要求严一点，就不会总沮丧。</p>
                <p>3、旁观者的姓名永远爬不到比赛的计分板上。</p>
                <p>4、强烈的信仰会赢取坚强的人，然后又使他们更坚强。</p>
                <p>5、只要我们能梦想的，我们就能实现。</p>
                <p>6、每一个成功者都有一个开始。勇于开始，才能找到成功的路。</p>
                <p>7、自弃者扶不起，自强者击不倒。</p>
                <p>8、莫找借口失败，只找理由成功。(不为失败找理由，要为成功找方法)</p>
                <p>9、昨晚多几分钟的准备，今天少几小时的麻烦。</p>
                <p>10、只要路是对的，就不怕路远。</p>
                <p>11、不管心情如何，不论今天过得怎么样，无论身在何方，请记得…微笑。人生没有彩排，只有现场直播，所以每一件事都要努力做得最好!</p>
                <p>12、志不立，天下无可成之事。赚钱之道很多，但是找不到赚钱的种子，便成不了事业家。自古成功在尝试。</p>
                <p>13、征服困难，就是荣耀。</p>
                <p>14、不要因为一点瑕疵而放弃一段爱情，毕竟在爱情里，需要的是真情，而不是完美。很多时候，我们视为刻骨铭心的记忆，而别人却早已忘记，与其纠结于心，不如看淡，看轻。</p>
                <p>15、你一天的爱心可能带来别人一生的感谢。</p>
                <p>16、生活中会发生什么，我们无法选择，但至少，我们可以选择怎样面对。所谓的幸福，就是一个笨蛋遇到一个傻瓜，引来无数人的羡慕和嫉妒，一起风风雨雨，平平淡淡。</p>
                <p>17、只有千锤百炼，才能成为好钢。</p>
                <p>18、你脑子里东西的多寡，就关系着你将来的前途。你希望掌握永恒，那你必须控制现在。</p>
                <p>19、宁可慢些，不要太急而错误;宁可笨些，不要太巧而败事。</p>
                <p>20、做的技艺来自做的过程。</p>
                <p>21、你的脸是为了呈现上帝赐给人类最贵重的礼物——微笑，一定要成为你工作最大的资产。</p>
                <p>22、目标的坚定是性格中最必要的力量源泉之一，也是成功的利器之一。没有它，天才也会在矛盾无定的迷径中徒劳无功。</p>
                <p>23、该来的都会来，该走的全会走，别抗拒，别挽留，别贪恋，别不舍，别担心。学着看淡一些事情，才是对自己最好的保护。</p>
                <p>24、人生的烦恼，多在于知道的太多，而做的太少。</p>
                <p>25、能把在面前行走的机会抓住的人，十有八九都会成功。</p>
                <p>26、有时候我们放不开不是因为失去，而是心疼自己的付出。遗忘的好处是：也许会后悔，也许会难过，但是心却不会再疼。曾经看不惯，受不了的，如今不过淡然一笑。成熟，不是看破，而是看淡。</p>
                <p>27、征服畏惧建立自信的最快最确实的方法，就是去做你害怕的事，直到你获得成功的经验。</p>
                <p>28、于千万人之中，遇见你所遇见的人;于千万之中，时间的无涯荒野里，没有早一步，也不晚一步，刚巧赶上了。</p>
                <p>29、生活不是一场赛跑，生活是一场旅行，要懂得好好欣赏每一段的风景。不要只因一次失败，就放弃你原来决心想达到的目的。</p>
                <p>30、人如果没有诚信，就算有聪明能力，永远只是个危险人物。</p>
                <p>31、知识给人重量，成就给人光彩，大多数人只是看到了光彩，而不去称量重量。</p>
                <p>32、生命中一道道仓促的划痕都会成为我们刻骨铭心的记忆。沉默，不代表自己没话说。离开，不代表自己很潇洒。快乐，不代表自己没伤心。幸福，不代表自己没痛过……</p>
                <p>33、最重要的就是不要去看远方模糊的，而要做手边清楚的事。</p>
                <p>34、那些尝试去做某事却失败的人，比那些什么也不尝试做却成功的人不知要好上多少。</p>
                <p>35、做对的事情比把事情做对重要。</p>
                <p>36、最足以显示一个人性格的，莫过于他所嘲笑的是什么东西。</p>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div th:replace="commons/bar::footer"></div>
</body>
</html>