<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户博客</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="asserts/css/style.css" th:href="@{/asserts/css/style.css}">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
    <style>
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            height: 100px;
            overflow: hidden;
        }

        span {
            display: block;
            text-align: left;
            font-weight: bold;
        }
    </style>
</head>
<body>
<!--顶部-->
<div th:replace="commons/bar::topbar" style="margin-left: -.35714286em;margin-right: -.35714286em"></div>
<!--中间-->
<div class="m-padded-tb-max m-container-small">
    <div class="ui container">
        <!--header-->
        <div class="ui top segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">搜索结果</h3>
                </div>
                <div class="right aligned column">
                    共 <h3 class="ui orange header m-inline-block m-text-thin" th:text="${count}"></h3>篇
                </div>
                <div style="margin-left: 40%;margin-bottom: 5px">
                    <a th:href="@{/toSearchUser}" style="color: #808080"><h3 style="float: left">用户</h3></a>
                    <span style="float: left;font-size: 25px;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a href="#" style="color: darkorange"><h3 style="float: left">博客</h3></a>
                </div>
            </div>
        </div>
        <div class="ui orange segment">
            <div class="ui m-padded-tb-max vertical segment " th:each="blog:${pageInfo}">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header" th:text="${blog.title}"></h3>
                        <p th:text="${#strings.abbreviate(blog.text,50)}"></p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui horizontal link list" style="width:450px">
                                    <div class="item">
                                        <img th:src="${blog.avatar}" alt="" class="ui avatar image">
                                        <div class="content"><a th:href="@{/userBlog/}+${blog.user_id}" target="_blank"
                                                                class="header" th:text="${blog.user_name}"></a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>[[${blog.create_time}]]
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>[[${blog.number_of_readers}]]
                                    </div>
                                    <div class="item">
                                        <i th:if="${blog.likes}!=0" class="thumbs up outline icon">&nbsp;[[${blog.likes}]]</i>
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a th:href="@{/readBlog/(blogId=${blog.id})}" target="_blank"
                                   class="ui teal basic label">阅读原文</a>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img th:src="${blog.imgs}" alt="" class="ui rounded image image-size">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a th:href="@{/toSearch(page=${page}-1)}" id="prePage" class="ui mini teal basic button"
                       style="float: left">上一页</a>
                </div>
                <div class="right aligned column">
                    <a th:href="@{/toSearch(page=${page}+1)}" id="nextPage" class="ui mini teal basic button">下一页</a>
                </div>
                <input type="hidden" id="first" th:value="${page}"/>
                <input type="hidden" id="last" th:value="${pages}"/>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div style="height: 500px"></div>
<div th:replace="commons/bar::footer"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script type="text/javascript">
    $(function () {
        pageNum = $("#first").val();
        lastPage = $("#last").val();
        if (lastPage == pageNum) {
            $("#nextPage").removeAttr('href');//去掉a标签中的href属性
            $("#nextPage").removeAttr('onclick');//去掉a标签中的onclick事件
        } else {
            if (pageNum == 1) {
                $("#prePage").removeAttr('href');//去掉a标签中的href属性
                $("#prePage").removeAttr('onclick');//去掉a标签中的onclick事件

            } else if (pageNum != 1) {
                $("#prePage").attr('', 'href');//添加a标签中的href属性
                $("#prePage").attr('', 'onclick');//添加a标签中的onclick事件)
            }
            $("#nextPage").attr('', 'href');//添加a标签中的href属性
            $("#nextPage").attr('', 'onclick');//添加a标签中的onclick事件)

        }

    });
</script>
</html>