<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户博客</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="asserts/css/style.css" th:href="@{/asserts/css/style.css}">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
    <style>
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            height: 100px;
            overflow: hidden;
        }

        span {
            display: block;
            text-align: left;
            font-weight: bold;
        }
    </style>
</head>
<body>
<!--顶部-->
<div th:replace="commons/bar::topbar" style="margin-left: -.35714286em;margin-right: -.35714286em"></div>
<!--中间-->
<div class="m-padded-tb-max m-container-small">
    <div class="ui container">
        <!--header-->
        <div class="ui top segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">搜索结果</h3>
                </div>
                <div class="right aligned column">
                    共 <h3 class="ui orange header m-inline-block m-text-thin" th:text="${count}"></h3>人
                </div>
                <div style="margin-left: 40%;margin-bottom: 5px">
                    <a href="#" style="color: darkorange"><h3 style="float: left">用户</h3></a>
                    <span style="float: left;font-size: 25px;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a th:href="@{/toSearch}" style="color: #808080"><h3 style="float: left">博客</h3></a>
                </div>
            </div>
        </div>
        <br>
        <center>
            <div class="m-padded-tb-max orange ui segment" style="width: 100%;">
                <ul style="list-style:none">
                    <li style="border-bottom: 1px solid #e0e0e0;" th:each="userInfomation:${pageInfo.getList()}">
                        <a th:href="@{/userBlog/}+${userInfomation.user_id}">
                            <img class="img" th:src="${userInfomation.avatar}">
                        </a>
                        <a th:href="@{/userBlog/}+${userInfomation.user_id}" class="name" target="_blank"
                           style="font-weight: bold">[[${userInfomation.user_name}]]</a>
                        <div style="width: 30%;float: left;margin-left: 5%">
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <span>用户账号：&nbsp;&nbsp;&nbsp;[[${userInfomation.user_id}]]</span>
                            <span>用户性别：&nbsp;&nbsp;&nbsp;[[${userInfomation.user_sex}]]</span>
                            <span>用户生日：&nbsp;&nbsp;&nbsp;[[${userInfomation.strBirthday}]]</span>
                        </div>
                        <div style="width: 35%;float: left;margin-left: 2%">
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <span>用户邮箱：&nbsp;&nbsp;&nbsp;[[${userInfomation.email}]]</span>
                            <span>&nbsp;&nbsp;&nbsp;</span>
                            <span>手机号码：&nbsp;&nbsp;&nbsp;[[${userInfomation.phone_number}]]</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <a th:href="@{/toSearchUser/(page=${pageInfo.prePage})}" id="prePage"
                           class="ui mini teal basic button" style="float: left">上一页</a>
                    </div>
                    <div class="right aligned column">
                        <a th:href="@{/toSearchUser/(page=${pageInfo.nextPage})}" id="nextPage"
                           class="ui mini teal basic button">下一页</a>
                    </div>
                    <input type="hidden" id="first" th:value="${pageInfo.getPageNum()}"/>
                    <input type="hidden" id="last" th:value="${pageInfo.pages}"/>
                </div>
            </div>
            <div style="height: 500px">
            </div>
        </center>
    </div>
</div>
<!--底部-->
<div th:replace="commons/bar::footer"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    })
</script>
<script type="text/javascript">
    $(function () {
        pageNum = $("#first").val();
        lastPage = $("#last").val();
        if (lastPage == pageNum) {
            $("#nextPage").removeAttr('href');//去掉a标签中的href属性
            $("#nextPage").removeAttr('onclick');//去掉a标签中的onclick事件
        } else {
            if (pageNum == 1) {
                $("#prePage").removeAttr('href');//去掉a标签中的href属性
                $("#prePage").removeAttr('onclick');//去掉a标签中的onclick事件

            } else if (pageNum != 1) {
                $("#prePage").attr('', 'href');//添加a标签中的href属性
                $("#prePage").attr('', 'onclick');//添加a标签中的onclick事件)
            }
            $("#nextPage").attr('', 'href');//添加a标签中的href属性
            $("#nextPage").attr('', 'onclick');//添加a标签中的onclick事件)

        }

    });
</script>
</html>