<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>编辑博客</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="asserts/css/style.css" th:href="@{/asserts/css/style.css}">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <script type="text/javascript" charset="utf-8" th:src="@{/ueditor/ueditor.config.js}"></script>
    <script type="text/javascript" charset="utf-8" th:src="@{/ueditor/ueditor.all.min.js}"></script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" th:src="@{/ueditor/lang/zh-cn/zh-cn.js}"></script>
</head>
<body style="height:100%;">
<!--顶部-->
<div th:replace="commons/bar::topbar"></div>
<br>
<div class="right aligned five wide column">
    <button id="submit" class="ui teal basic label" style="float: right;margin-right: 19%" onclick="postDate()">修改博客
    </button>
</div>
<br><br>
<!-- 接入编辑器 -->
<center>
    <div class="input-group mb-3" style="width: 62%">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" id="button-addon1">标题</button>
        </div>
        <input type="text" id="title" th:value="${blogs.title}" class="form-control" placeholder=""
               aria-label="Example text with button addon" aria-describedby="button-addon1">
        <div class="input-group-prepend" style="margin-left: 5%">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">类别</button>
        </div>
        <div style="width: 10%;">
            <select class="custom-select" id="types">
                <option th:selected="${blogs.types=='1'}" value="1">科技类型</option>
                <option th:selected="${blogs.types=='2'}" value="2">情感类型</option>
                <option th:selected="${blogs.types=='3'}" value="3">人生经历</option>
                <option th:selected="${blogs.types=='4'}" value="4">生活小妙招</option>
                <option th:selected="${blogs.types=='5'}" value="5">娱乐文化</option>
                <option th:selected="${blogs.types=='6'}" value="6">其他</option>
            </select>
        </div>
    </div>
    <br>
    <div>
        <textarea id="container" name="content" type="text/plain">[[${blogs.text}]]</textarea>
        <input type="hidden" id="id" th:value="${blogs.id}">
    </div>
    <br>
    <br>
</center>
</form>
<br>
<br>
<!--底部-->
<div th:replace="commons/bar::footer"></div>
</body>
<script th:src="@{/webjars/jquery/3.5.1/jquery.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var editor = UE.getEditor('container', {
        initialFrameWidth: 1190,       // 设置初始时的宽度
        initialFrameHeight: 500         // 设置初始时的高度
    });

    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
    UE.Editor.prototype.getActionUrl = function (action) {
        // 如果触发了动作，则进行文件上传操作
        if (action == 'uploadimage') {
            return '/blog/saveImg';
        } else {
            return this._bkGetActionUrl.call(this, action);
        }
    }
    $('#submit').click(function () {
        $.ajax({
            url: "/blog/updateBlog",
            type: 'post',
            data: "title=" + $('#title').val() + "&content=" + encodeURIComponent(editor.getContent()) + "&id=" + document.getElementById("id").value + "&types=" + $('#types').val(),
            dataType: "html",
            success: function (re) {
                alert("修改成功");
                window.location = "/blog/myBlogs";
            }
        });
    });

</script>
</html>