<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:fragment="topbar">
    <div class="ui container" style="width: 100%;padding-right:1px;padding-left: 1px;">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">个人博客</h2>
            <a th:href="@{/main}" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a th:href="@{/myBlogs}" class="m-item item m-mobile-hide"><i class="idea icon"></i>我的博客</a>
            <a th:href="@{/information}" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="m-item  right item m-mobile-hide" style="margin-right: 12%">
                <form th:action="@{/search}">
                    <div class="ui icon input" style="width: 100%">
                        <input type="text" name="search" placeholder="Search...">
                        <button type="submit" style="line-height: 250%"><i class="search link icon"></i></button>
                    </div>
                </form>
                <a th:href="@{/addBlog}" class="ui teal basic label">写博客</a>
            </div>
            <a th:href="@{/information}"><img th:src="${session.loginUser.getAvatar()}" id="img"
                                              style="border-radius: 50%; width:50px; height:50px"/></a>
            <a th:href="@{/user/loginOut}" class="m-item item m-mobile-hide"><i class="arrow icon"></i>注销</a>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-hide">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--底部-->
<footer class="ui inverted vertical segment m-padded-tb-max" th:fragment="footer">
    <div class="ui center aligned container">
        <p class="m-text-thin m-text-spaced m-opacity-tiny">© 男神项目组</p>
    </div>
</footer>
</body>
</html>