<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog用户注册</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
</head>
<body class="text-center">
<br><br><br><br>
<form style="width: 25%;margin-top: 10%" name="create" th:action="@{/user/insertUser}" enctype="multipart/form-data"
      method="POST">
    <img class="mb-4" id="img" th:src="@{/asserts/image/blog.svg}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal" th:text="用户注册">用户注册</h1>
    <div class="mb-3 was-validated">
        <div class="input-group is-invalid">
            <div class="input-group-prepend">
                <span class="input-group-text" id="validatedInputGroupPrepend1">账号</span>
            </div>
            <input type="text" name="user_id" class="form-control" id="userId"
                   aria-describedby="validatedInputGroupPrepend1" required>
        </div>
    </div>
    <div class="mb-3 was-validated">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="validatedInputGroupPrepend2">名称</span>
            </div>
            <input type="text" name="user_name" id="user_name" class="form-control"
                   aria-describedby="validatedInputGroupPrepend2" required>
        </div>
    </div>
    <div class="mb-3 was-validated">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="validatedInputGroupPrepend3">密码</span>
            </div>
            <input type="text" name="password" id="password" class="form-control"
                   aria-describedby="validatedInputGroupPrepend3" required>
        </div>
    </div>
    <div class="mb-3">
        <div class="input-group is-invalid">
            <div class="input-group-prepend">
                <label class="input-group-text" for="validatedInputGroupSelect">性别</label>
            </div>
            <select class="custom-select" name="user_sex" id="validatedInputGroupSelect">
                <option value=""></option>
                <option value="1">男</option>
                <option value="2">女</option>
            </select>
        </div>
    </div>

    <div class="mb-3">
        <div class="input-group is-invalid">
            <div class="input-group-prepend">
                <span class="input-group-text" id="validatedInputGroupPrepend4">邮箱</span>
            </div>
            <input type="text" id="email" class="form-control" name="email"
                   aria-describedby="validatedInputGroupPrepend4">
        </div>
    </div>

    <div class="mb-3">
        <div class="input-group is-invalid">
            <div class="input-group-prepend">
                <span class="input-group-text" id="validatedInputGroupPrepend">邮箱验证码</span>
            </div>
            <input type="text" name="code" class="form-control" aria-describedby="validatedInputGroupPrepend">
            <input type="button" class="btn btn-sm btn-outline-secondary" value="获取验证码" id="yzm">
        </div>
    </div>
    <div class="mb-3">
        <div class="input-group is-invalid">
            <div class="input-group-prepend">
                <span class="input-group-text" id="validatedInputGroupPrepend5">手机号码</span>
            </div>
            <input type="text" id="phone_number" name="phone_number" class="form-control">
        </div>
    </div>

    <div class="custom-file mb-3">
        <input type="file" name="file" class="custom-file-input" id="validatedCustomFile" onchange="imgChange(this)">
        <label class="custom-file-label" for="validatedCustomFile">选择头像图片</label>
    </div>

    <div class="row">
        <div class="col">
            <input type="text" id="year" name="year" class="form-control" placeholder="年份">
        </div>
        <span>-</span>
        <div class="col">
            <input type="text" id="month" name="month" class="form-control" placeholder="月份">
        </div>
        <span>-</span>
        <div class="col">
            <input type="text" id="day" name="day" class="form-control" placeholder="日期">
        </div>
    </div>
    <br>
    <label style="float: right">
        <a class="btn btn-sm btn-default" th:href="@{/}">返回</a>
    </label>
    <br>
    <br>
    <label style="width:30%">
        <input type="button" class="btn btn-info" value="注册" style="width:100%" onclick="checkTrue()"/>
    </label>
    </div>
    <p class="mt-5 mb-3 text-muted">© 男神项目组</p>
</form>
</body>
<script th:src="@{/webjars/jquery/3.5.1/jquery.js}" type="text/javascript"></script>
<script type="text/javascript">
    function imgChange(obj) {
        var file = document.getElementById("validatedCustomFile");
        var imgUrl = window.URL.createObjectURL(file.files[0]);
        var img = document.getElementById('img');
        img.setAttribute('src', imgUrl);
    }

    function checkTrue() {
        var x = document.getElementById("userId").value;
        var y = String(x).indexOf(".") + 1;
        var name = document.getElementById("user_name").value;
        var password = document.getElementById("password").value;
        if (isNaN(x) || x > 9999999999 || x < 100000 || y > 0) {
            alert("账号必须为6~10位数字且不可以'0'开头！！！");
            return 0;
        } else if (name == "" || name == null) {
            alert("名称不可为空！！！");
            return 0;
        } else if (password == "" || password == null) {
            alert("密码不可为空！！！");
            return 0;
        } else {
            create.submit();
        }
    }

    var countdown = 60;
    $(document).ready(function () {
        $('#yzm').click(function () {
            $.ajax({
                url: "/blog/user/sendEmailCode",
                data: {
                    email: encodeURI(document.getElementById("email").value)
                },
                success: function (data) {
                    if (data.toString() == 'success') {
                        var but = $("#yzm");
                        settime(but);
                    } else if (data.toString() == 'fail') {
                        alert("邮箱已存在")
                    }
                }
            })
        })
    })

    function settime(obj) { //发送验证码倒计时
        if (countdown == 0) {
            obj.attr('disabled', false);
            //obj.removeattr("disabled");
            obj.val("获取验证码");
            countdown = 60;
            return;
        } else {
            obj.attr('disabled', true);
            obj.val("重新发送(" + countdown + ")");
            countdown--;
        }
        setTimeout(function () {
                settime(obj)
            }
            , 1000)
    }
</script>
</html>