<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog用户注册</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
</head>
<body class="text-center">
<form style="width: 25%" name="create" th:action="@{/user/checkEmail}" enctype="multipart/form-data" method="POST">
    <img class="mb-4" id="img" th:src="@{/asserts/image/blog.svg}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal" th:text="找回密码">找回密码</h1>
    <br>
    <div class="mb-3">
        <div class="input-group is-invalid">
            <div class="input-group-prepend">
                <span class="input-group-text" id="validatedInputGroupPrepend4">邮箱</span>
            </div>
            <input type="text" id="email" class="form-control" name="email"
                   aria-describedby="validatedInputGroupPrepend4">
        </div>
    </div>

    <div class="mb-3">
        <div class="input-group is-invalid">
            <div class="input-group-prepend">
                <span class="input-group-text" id="validatedInputGroupPrepend">邮箱验证码</span>
            </div>
            <input type="text" name="code" class="form-control" aria-describedby="validatedInputGroupPrepend">
            <input type="button" class="btn btn-sm btn-outline-secondary" value="获取验证码" id="yzm">
        </div>
    </div>
    <label style="float: right">
        <a class="btn btn-sm btn-default" th:href="@{/}">返回</a>
    </label>
    <br>
    <br>
    <label style="width:30%">
        <input type="submit" class="btn btn-info" value="下一步" style="width:100%"/>
    </label>
    <p class="mt-5 mb-3 text-muted">© 男神项目组</p>
</form>
</body>
<script th:src="@{/webjars/jquery/3.5.1/jquery.js}" type="text/javascript"></script>
<script type="text/javascript">
    var countdown = 60;
    $(document).ready(function () {
        $('#yzm').click(function () {
            $.ajax({
                url: "/blog/user/sendUpdateEmail",
                data: {
                    email: encodeURI(document.getElementById("email").value)
                },
                success: function (data) {
                    if (data.toString() == 'success') {
                        var but = $("#yzm");
                        settime(but);
                    } else {
                        alert("发送失败，请确认邮箱填写是否正确")
                    }
                }
            })
        })
    })

    function settime(obj) { //发送验证码倒计时
        if (countdown == 0) {
            obj.attr('disabled', false);
            //obj.removeattr("disabled");
            obj.val("获取验证码");
            countdown = 60;
            return;
        } else {
            obj.attr('disabled', true);
            obj.val("重新发送(" + countdown + ")");
            countdown--;
        }
        setTimeout(function () {
                settime(obj)
            }
            , 1000)
    }
</script>
</html>