<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-关于我</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="asserts/css/style.css" th:href="@{/asserts/css/style.css}">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
    <style>
        li {
            display: inline;
        }

        strong {
            font-size: large;
        }
    </style>
</head>
<body class="text-center" style="height:100%;">
<!--顶部-->
<div th:replace="commons/bar::topbar" style="margin-left: -.35714286em;margin-right: -.35714286em"></div>
<br>
<!--中间部分-->
<div class="m-padded-tb-max ui orange segment" style="max-width: 40em !important;margin: auto !important;">
    <br><br>
    <form class="form-signin" name="update" th:action="@{/user/updateInformationPwd}" enctype="multipart/form-data"
          method="POST" style="width: 100%">
        <input type="hidden" name="id" th:value="${session.loginUser.getId()}">
        <img class="align-self-start" id="img1" th:src="${session.loginUser.getAvatar()}"
             style="border-radius: 50%; width:100px; height:100px">
        <br><br>
        <div><h4 class="h4 mb-3 font-weight-bolder" th:text="${session.loginUser.getUser_name()}"></h4></div>
        <br><br><br>
        <div class="mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">账号</span>
                </div>
                <input type="text" name="user_id" th:value="${session.loginUser.getUser_id()}" class="form-control"
                       readonly="readonly" required>
            </div>
        </div>
        <div class="mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="validatedInputGroupPrepend3">请输入新密码</span>
                </div>
                <input type="password" id="password" name="password" class="form-control"
                       aria-describedby="validatedInputGroupPrepend3" required>
            </div>
        </div>
        <div class="mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="validatedInputGroupPrepend4">请确认新密码</span>
                </div>
                <input type="password" id="passwordCheck" name="passwordCheck" class="form-control"
                       aria-describedby="validatedInputGroupPrepend4" required>
            </div>
        </div>
        <br>
        <br>
        <label style="width:20%">
            <input class="btn btn-info" type="button" value="保存" style="width:100%" onclick="checkTrue()"/>
        </label>
        <br><br>
        <br><br>
    </form>
</div>
<br>
<!--底部-->
<div th:replace="commons/bar::footer"></div>
</body>
<script th:src="@{/webjars/jquery/3.5.1/jquery.js}" charset="utf-8"></script>
<script type="text/javascript">
    function checkTrue() {
        var password = document.getElementById("password").value;
        var passwordCheck = document.getElementById("passwordCheck").value;
        if (password == passwordCheck) {
            update.submit();
        } else {
            alert("两次密码不一致！！！");
            return 0;
        }
    }
</script>
</html>