<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-关于我</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="asserts/css/style.css" th:href="@{/asserts/css/style.css}">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
    <style>
        li {
            display: inline;
        }

        strong {
            font-size: large;
        }
    </style>
</head>
<body class="text-center" style="height:100%;">
<!--顶部-->
<div th:replace="commons/bar::topbar" style="margin-left: -.35714286em;margin-right: -.35714286em"></div>
<br>
<!--中间部分-->
<div class="m-padded-tb-max ui orange segment" style="max-width: 40em !important;margin: auto !important;">
    <br><br>
    <form class="form-signin" th:action="@{/user/updateUser}" enctype="multipart/form-data" method="POST"
          style="width: 100%">
        <input type="hidden" name="id" th:value="${session.loginUser.getId()}">
        <input type="hidden" name="password" th:value="${session.loginUser.getUser_name()}"/>
        <img class="align-self-start" id="img1" th:src="${session.loginUser.getAvatar()}"
             style="border-radius: 50%; width:100px; height:100px">
        <br><br>
        <div><h4 class="h4 mb-3 font-weight-bolder" th:text="${session.loginUser.getUser_name()}"></h4></div>
        <div style="margin-left: 30%">
            <div style="width: 20%;float: left;border-right: 1px solid #8c8b8b">
                <a th:href="@{/fans/findFaned}" style="color: black">
                    <strong>[[${fanedNum}]]</strong></br>
                    <span style="color: #808080">关注</span>
                </a>
            </div>
            <div style="width: 20%;float: left;border-right: 1px solid #8c8b8b">
                <a th:href="@{/fans/findFans}" style="color: black">
                    <strong>[[${fansNum}]]</strong></br>
                    <span style="color: #808080">粉丝</span>
                </a>
            </div>
            <div style="width: 20%;float: left">
                <a th:href="@{/myBlogs}" style="color: black">
                    <strong>[[${blogsCount}]]</strong></br>
                    <span style="color: #808080">博客</span>
                </a>
            </div>
        </div>
        <br><br>
        <br><br>
        <div class="mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">账号</span>
                </div>
                <input type="text" name="user_id" th:value="${session.loginUser.getUser_id()}" class="form-control"
                       readonly="readonly" required>
            </div>
        </div>
        <div class="mb-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">名称</span>
                </div>
                <input type="text" name="user_name" th:value="${session.loginUser.getUser_name()}" class="form-control"
                       required>
            </div>
        </div>
        <div class="mb-3">
            <div class="input-group is-invalid">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="validatedInputGroupSelect">性别</label>
                </div>
                <select class="custom-select" name="user_sex" id="validatedInputGroupSelect">
                    <option th:selected="${session.loginUser.getUser_sex()==null}" value=""></option>
                    <option th:selected="${session.loginUser.getUser_sex()=='1'}" value="1">男</option>
                    <option th:selected="${session.loginUser.getUser_sex()=='2'}" value="2">女</option>
                </select>
            </div>
        </div>

        <div class="mb-3">
            <div class="input-group is-invalid">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="validatedInputGroupPrepend4">邮箱</span>
                </div>
                <input type="text" name="email" th:value="${session.loginUser.getEmail()}" class="form-control"
                       aria-describedby="validatedInputGroupPrepend4">
            </div>
        </div>

        <div class="mb-3">
            <div class="input-group is-invalid">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="validatedInputGroupPrepend5">手机号码</span>
                </div>
                <input type="text" name="phone_number" th:value="${session.loginUser.getPhone_number()}"
                       class="form-control">
            </div>
        </div>

        <div class="custom-file mb-3">
            <input type="file" name="file" th:src="${session.loginUser.getAvatar()}" class="custom-file-input"
                   id="validatedCustomFile" onchange="imgChange(this)">
            <label class="custom-file-label" for="validatedCustomFile">选择头像图片</label>
        </div>

        <div class="row">
            <div class="col">
                <input type="text" name="year" th:value="${session.year}" class="form-control" placeholder="年份">
            </div>
            <span>-</span>
            <div class="col">
                <input type="text" th:value="${session.month}" name="month" class="form-control" placeholder="月份">
            </div>
            <span>-</span>
            <div class="col">
                <input type="text" th:value="${session.day}" name="day" class="form-control" placeholder="日期">
            </div>
        </div>
        <br>
        <br>
        <label style="width:20%">
            <a class="btn btn-info" th:href="@{/toUpdateInformationPwd}" style="width:100%">修改密码</a>
        </label>
        <label style="width:20%">
            <button class="btn btn-info" type="submit" th:text="保存" value="保存" style="width:100%">保存</button>
        </label>
        <br><br>
        <br><br>
    </form>
</div>
<br>
<!--底部-->
<div th:replace="commons/bar::footer"></div>
</body>
<script th:src="@{/webjars/jquery/3.5.1/jquery.js}" charset="utf-8"></script>
<script type="text/javascript">
    function imgChange(obj) {
        var file = document.getElementById("validatedCustomFile");
        var imgUrl = window.URL.createObjectURL(file.files[0]);
        var img = document.getElementById('img');
        var img1 = document.getElementById('img1');
        img.setAttribute('src', imgUrl);
        img1.setAttribute('src', imgUrl);
    }

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    })

    // document.onmousedown = function(){
    //     if(event.button == 2){
    //         alert("当前页面不能使用右键！");
    //         return false;
    //     }
    // }
</script>
</html>