<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog用户注册</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
</head>
<body class="text-center">
<form style="width: 25%" name="create" th:action="@{/user/updatePwd}" enctype="multipart/form-data" method="POST">
    <img class="mb-4" id="img" th:src="@{/asserts/image/blog.svg}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal" th:text="用户注册">用户注册</h1>
    <br>
    <div class="mb-3">
        <div class="input-group is-invalid">
            <div class="input-group-prepend">
                <span class="input-group-text" id="validatedInputGroupPrepend4">邮箱</span>
            </div>
            <input type="text" id="email" class="form-control" name="email" th:value="${email}"
                   aria-describedby="validatedInputGroupPrepend4" readonly>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="validatedInputGroupPrepend3">新密码</span>
        </div>
        <input type="text" name="password" id="password" class="form-control"
               aria-describedby="validatedInputGroupPrepend3" required>
    </div>
    <br>
    <label style="float: right">
        <a class="btn btn-sm btn-default" th:href="@{/forgetPwd}">返回</a>
    </label>
    <br>
    <br>
    <label style="width:30%">
        <input type="submit" class="btn btn-info" value="确认修改" style="width:100%"/>
    </label>
    <p class="mt-5 mb-3 text-muted">© 男神项目组</p>
</form>
</body>
<script th:src="@{/webjars/jquery/3.5.1/jquery.js}" type="text/javascript"></script>
</html>