<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出错啦--5xx</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="asserts/css/style.css" th:href="@{/asserts/css/style.css}">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
</head>
<body>
<!--顶部-->
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container" style="width: 100%;padding-right:1px;padding-left: 1px;">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">个人博客</h2>
            <a th:href="@{/main}" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a th:href="@{/myBlogs}" class="m-item item m-mobile-hide"><i class="idea icon"></i>我的博客</a>
            <a th:href="@{/information}" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="m-item  right item m-mobile-hide" style="margin-right: 12%">
                <form th:action="@{/search}">
                    <div class="ui icon input" style="width: 100%">
                        <input type="text" name="search" placeholder="Search...">
                        <button type="submit" style="line-height: 250%"><i class="search link icon"></i></button>
                    </div>
                </form>
                <a th:href="@{/addBlog}" class="ui teal basic label">写博客</a>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-hide">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div style="height: 30%"></div>
<center>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" style="height: 20%">
        <h1>status:[[${status}]]</h1>
        <h2>timestamp:[[${timestamp}]]</h2>
        <h2>exception:[[${exception}]]</h2>
        <h2>message:[[${message}]]</h2>
    </main>
</center>
<div style="height: 35%"></div>
<!--底部-->
<div th:replace="commons/bar::footer"></div>
</body>
</html>