<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客详情</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="asserts/css/style.css" th:href="@{/asserts/css/style.css}">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
    <script>
        function displayText() {
            let value = document.getElementById("value").value;
            let html = `${value}`;
            let contentBox = document.getElementById('content');
            contentBox.insertAdjacentHTML('beforeEnd', html);
        }
    </script>
</head>
<body onload="displayText()">
<!--顶部-->
<div th:replace="commons/bar::topbar"></div>
<!--中间-->
<div class="m-padded-tb-max m-container-small">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui horizontal link list">
                <div class="item">
                    <img src="asserts/image/pic1.jpg" th:src="${blogs.avatar}" alt="" class="ui avatar image">
                    <div class="content"><a href="#" class="header" th:text="${blogs.user_name}"></a></div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i>[[${#dates.format(blogs.create_time,'yyyy-MM-dd HH:mm:ss')}]]
                </div>
                <div class="item">
                    <i class="eye icon"></i>[[${blogs.number_of_readers}]]
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <!--pic-->
            <img th:src="${blogs.imgs}" alt="" class="ui fluid image img-size">
        </div>
        <div class="ui attached m-padded-tb-max segment">
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label">[[${blogs.types}]]</div>
            </div>
            <!--context-->
            <h2 class="ui center aligned  header" th:text="${blogs.title}"></h2>
            <br>
            <div id="content" class="m-padded-lr m-padded-tb-max">
                <input type="hidden" th:value="${blogs.text}" id="value">
            </div>
            <!--点赞-->
            <div class="ui center aligned basic segment metadata">
                <a class="ui basic orange circular button" th:text="'点赞:'+${blogs.likes}"
                   th:href="@{/likes/}+${blogs.id}" style="margin-bottom: 5%"></a>
            </div>
            <br>
        </div>
        <div id="comment-container" class="ui bottom attached segment">
            <!--留言区域列表-->
            <div class="ui teal segment">
                <div class="ui threaded comments">
                    <h3 class="ui dividing header">Comments</h3>
                    <!-- 从数据库取出本user本blog的评论-->
                    <tbody>
                    <div class="comment" th:each="commentStat:${comments}">
                        <a class="ui avatar image">
                            <img class="ui avatar image" style="border-radius: 50%; width:50px; height:35px"
                                 th:src="${commentStat.avatar}">
                        </a>
                        <div class="content">
                            <a class="author" th:href="@{/userBlog/}+${commentStat.userId}" target="_blank"
                               th:text="${commentStat.userName}"></a>
                            <div class="metadata">
                                <span class="date" th:text="${commentStat.createTime}"></span>
                                <span class="date" th:text="'点赞数：'+${commentStat.likes}"></span>
                                <a class="date" th:text="'点赞'"
                                   th:href="@{/nice(commentId=${commentStat.id},blogId=${blogs.id})}"></a>
                            </div>
                            <div class="text" th:text="${commentStat.text}" id="commentText"></div>
                            <a class="date" th:text="'删除'"
                               th:href="@{/delComment(commentId=${commentStat.id},blogId=${blogs.id})}"></a>
                            <div class="actions huifu" id="huifu">
                                <input type="hidden" th:id="commentId" th:value="${commentStat.id}" }>
                                <input type="hidden" th:id="commentUserId" th:value="${commentStat.userId}" }>
                                <input type="hidden" th:id="commentText" th:value="${commentStat.text}" }>
                                <input type="hidden" th:id="commentTime" th:value="${commentStat.createTime}" }>
                                <a type="button" class="reply">回复</a>
                            </div>
                            <div class="comments" th:each="reply:${commentStat.replyList}">
                                <div class="comment">
                                    <a class="ui avatar image">
                                        <img style="border-radius: 50%; width:50px; height:35px"
                                             th:src="${reply.replyAvatar}">
                                    </a>
                                    <div class="content">
                                        <a class="author" th:href="@{/userBlog/}+${reply.userId}" target="_blank"
                                           th:text="${reply.userName}"></a>
                                        <div class="metadata">
                                            <span class="date" th:text="${reply.createTime}"></span>
                                        </div>
                                        <div class="text">
                                            [[${reply.replyText}]]
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </tbody>
                </div>
            </div>
            <div class="ui form">
                <form id="commentFrom">
                    <div class="field">
                        <textarea name="comment" id="comment" placeholder="请输入..." rows="10"></textarea>
                    </div>
                    <div class="fields">
                        <div class="field" style="margin-left: 85%">
                            <button class="ui basic orange button" id="publish_btn" type="button">发布</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div th:replace="commons/bar::footer"></div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script th:inline="javascript">
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    })

    $("#publish_btn").click(function () {
        var comment = $("#comment").val();
        // alert(comment);
        $.ajax({
            url: "/blog/commentAdd",
            type: "POST",
            data: {"comment": comment, "blogId": [[${blogs.id}]]},
            success: function (result) {
                console.log(result);
                window.location.reload();
            }
        });
    });
</script>
<script th:inline="javascript">
    $(function () {
        $(".reply").click(function () {
            $(".reply_textarea").remove();
            $(this).parent().append("<div class='row reply_textarea' id='reply'>" +
                "<textarea name='' id='reply_text' cols='40' rows='5'></textarea><br/>" +
                "<input type='button' value='回复' id='reply_submit'/></div>");
        });
    });

    $(document).on("click", "#reply_submit", function () {
        var replyText = document.getElementById("reply_text").value;
        var commentTime = $(this).parent().prev().prev().val();
        var commentUserId = $(this).parent().prev().prev().prev().prev().val();
        var commentId = $(this).parent().prev().prev().prev().prev().prev().val();
        // alert(commentTime+"|"+commentUserId+"|"+commentId);
        $.ajax({
            url: "/blog/replyAdd",
            type: "POST",
            data: {"replyText": replyText, "commentId": commentId, "blogId": [[${blogs.id}]]},
            success: function (result) {
                window.location.reload();
            }

        });
    });
</script>
<script th:inline="javascript">
    $(function () {
        // alert([[${blogs.id}]]);
        $.ajax({
            url: "/blog/readAdd",
            type: "POST",
            data: "blogId=" + [[${blogs.id}]],
            success: function (result) {
                console.log(result);
            }
        });
    })
</script>
</body>
</html>