<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/user/login}" method="post">
    <img class="mb-4" th:src="@{/asserts/image/blog.svg}" src="asserts/image/blog.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please sign in</h1>

    <!--			<p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>-->
    <p style="color: red" th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></p>
    <p style="color: red" th:if="${msg}" th:text="${msg}"></p>
    <label class="sr-only" th:text="#{login.username}">Username</label>
    <input type="text" name="user_id" class="form-control" placeholder="UserId" th:placeholder="#{login.username}"
           required="" autofocus="">
    <label class="sr-only" th:text="#{login.password}">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password"
           th:placeholder="#{login.password}" required="">
    <div>
        <img th:src="@{/verification}" id="yzmm"/>
        <input type="text" name="yzm" class="form-control" style="width: 70%;height: 35px;float: right"
               th:placeholder="#{login.yzm}">
    </div>
    <div class="checkbox mb-3" style="margin-top: 5%;">
        <label>
            <input type="checkbox" name="remember-me" value="true"/> [[#{login.remember}]]
        </label>
    </div>
    <button class="btn btn-lg btn-info btn-block" style="margin-top: -5%" type="submit" th:text="#{login.btn}">Sign in
    </button>
    <div class="checkbox mb-3">
        <label style="float:left">
            <a class="btn btn-sm btn-default" th:href="@{/create}">[[#{login.create}]]</a>
        </label>
        <label style="float:right;">
            <a class="btn btn-sm btn-default" style="color: grey" th:href="@{/forgetPwd}">[[#{login.forgetPwd}]]</a>
        </label>
    </div>
    <p class="mt-5 mb-3 text-muted">© 男神项目组</p>
    <a class="btn btn-sm" th:href="@{/login.html(l='zh_CN')}">中文</a>
    <a class="btn btn-sm" th:href="@{/login.html(l='en_US')}">English</a>
</form>
</body>

<script th:src="@{/webjars/jquery/3.5.1/jquery.js}" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#yzmm").click(function () {
            $(this).attr("src", "/blog/verification?" + new Date().getTime())
        })

    })
</script>

</html>