<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="asserts/css/style.css" th:href="@{/asserts/css/style.css}">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
</head>
<body>
<!--顶部-->
<div th:replace="commons/bar::topbar"></div>
<!--中间-->
<div class="m-padded-tb-max m-container-small">
    <div class="ui container">
        <!--header-->
        <div class="ui top segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">我的博客--[[${type}]]</h3>
                </div>
                <div class="right aligned column">
                    共 <h3 class="ui orange header m-inline-block m-text-thin" th:text="${count}"></h3>篇
                </div>
            </div>
        </div>
        <div class="segment">
            <div class="ui labeled button m-margin-tb-tiny" style="float: left;margin-left: 2%">
                <a th:href="@{/myBlogTypes/1}" class="ui basic orange button">科技类型</a>
                <div class="ui basic teal left pointing label">1</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny" style="float: left">
                <a th:href="@{/myBlogTypes/2}" class="ui basic orange button">情感类型</a>
                <div class="ui basic teal left pointing label">2</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny" style="float: left">
                <a th:href="@{/myBlogTypes/3}" class="ui basic orange button">人生经历</a>
                <div class="ui basic teal left pointing label">3</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny" style="float: left;">
                <a th:href="@{/myBlogTypes/4}" class="ui basic orange button">生活小妙招</a>
                <div class="ui basic teal left pointing label">4</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny" style="float: left;">
                <a th:href="@{/myBlogTypes/5}" class="ui basic orange button">娱乐文化</a>
                <div class="ui basic teal left pointing label">5</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny" style="float: left;">
                <a th:href="@{/myBlogTypes/6}" class="ui basic orange button">其他类别</a>
                <div class="ui basic teal left pointing label">6</div>
            </div>
        </div>
        <br>
        <br>
        <div class="ui orange segment">
            <div class="ui m-padded-tb-max vertical segment " th:each="blog:${pageInfo.getList()}">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header" th:text="${blog.title}"></h3>
                        <p th:text="${#strings.abbreviate(blog.text,50)}"></p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui horizontal link list" style="width:450px">
                                    <div class="item">
                                        <img th:src="${blog.avatar}" class="ui avatar image">
                                        <div class="content"><a class="header" style="color: black"
                                                                th:href="@{/userBlog/}+${blog.user_id}" target="_blank"
                                                                th:text="${blog.user_name}"></a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>[[${#dates.format(blog.create_time,'yyyy-MM-dd
                                        HH:mm:ss')}]]
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>[[${blog.number_of_readers}]]
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a th:href="@{/readBlog/(blogId=${blog.id})}" target="_blank"
                                   class="ui teal basic label">阅读原文</a>
                            </div>
                            <div class="left aligned five wide" style="margin-top: 10px">
                                <a th:href="@{/toUpdateBlog/(blogId=${blog.id})}" target="_blank"
                                   class="ui teal basic label" style="display: inline">修改博客</a>
                                <a th:href="@{/deleteBlog/}+${blog.id}" class="ui teal basic label"
                                   style="display: inline">删除博客</a>
                            </div>

                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img th:src="${blog.imgs}" alt="" class="ui rounded image image-size">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a th:href="@{/myBlogType(pageIndex=${pageInfo.nextPage})}" id="prePage"
                       class="ui mini teal basic button" style="float: left">上一页</a>
                </div>
                <div class="right aligned column">
                    <a th:href="@{/myBlogType(pageIndex=${pageInfo.nextPage})}" id="nextPage"
                       class="ui mini teal basic button">下一页</a>
                </div>
                <input type="hidden" id="first" th:value="${pageInfo.getPageNum()}"/>
                <input type="hidden" id="last" th:value="${pageInfo.pages}"/>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div th:replace="commons/bar::footer"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    })

    // document.onmousedown = function(){
    //     if(event.button == 2){
    //         alert("当前页面不能使用右键！");
    //         return false;
    //     }
    // }
</script>
<script type="text/javascript">
    $(function () {
        pageNum = $("#first").val();
        lastPage = $("#last").val();
        if (lastPage == pageNum) {
            $("#nextPage").removeAttr('href');//去掉a标签中的href属性
            $("#nextPage").removeAttr('onclick');//去掉a标签中的onclick事件
        } else {
            if (pageNum == 1) {
                $("#prePage").removeAttr('href');//去掉a标签中的href属性
                $("#prePage").removeAttr('onclick');//去掉a标签中的onclick事件

            } else if (pageNum != 1) {
                $("#prePage").attr('', 'href');//添加a标签中的href属性
                $("#prePage").attr('', 'onclick');//添加a标签中的onclick事件)
            }
            $("#nextPage").attr('', 'href');//添加a标签中的href属性
            $("#nextPage").attr('', 'onclick');//添加a标签中的onclick事件)

        }

    });
</script>

</body>
</html>