<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>精选博客</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="asserts/css/style.css" th:href="@{/asserts/css/style.css}">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
</head>
<body>
<!--顶部-->
<div th:replace="commons/bar::topbar"></div>
<!--中间-->
<div class="m-padded-tb-max">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左边-->
            <div class="eleven wide column">
                <!--header-->
                <div class="ui top segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">精选博客--[[${type}]]</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h3 class="ui orange header m-inline-block m-text-thin" th:text="${count}"></h3>篇
                        </div>
                    </div>
                </div>
                <!--博客主题-->
                <div class="ui attached segment">
                    <!--                        从数据库读取出来的-->
                    <div class="ui m-padded-tb-max vertical segment" th:each="userBlog:${pageInfo.getList()}">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header" th:text="${userBlog.title}"></h3>
                                <p th:text="${#strings.abbreviate(userBlog.text,50)}"></p>
                                <div class="ui grid" style="float: bottom">
                                    <div class="eleven wide column" style="float: bottom">
                                        <div class="ui horizontal link list" style="float: bottom;width: 450px">
                                            <div class="item">
                                                <img th:src="${userBlog.avatar}" class="ui avatar image">
                                                <div class="content"><a class="header" style="color: black"
                                                                        th:href="@{/userBlog/}+${userBlog.user_id}"
                                                                        target="_blank"
                                                                        th:text="${userBlog.user_name}"></a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>[[${#dates.format(userBlog.create_time,'yyyy-MM-dd
                                                HH:mm:ss')}]]
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a th:href="@{/readBlog/(blogId=${userBlog.id})}" target="_blank"
                                           class="ui teal basic label">阅读原文</a>
                                    </div>
                                </div>
                            </div>

                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img th:src="${userBlog.imgs}" alt="" class="ui rounded image image-size">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!--博客底部-->
                <div class="ui bottom attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a th:href="@{/type(pageIndex=${pageInfo.prePage})}" id="prePage"
                               class="ui mini teal basic button" style="float: left">上一页</a>
                        </div>

                        <div class="right aligned column">
                            <a th:href="@{/type(pageIndex=${pageInfo.nextPage})}" id="nextPage"
                               class="ui mini teal basic button">下一页</a>
                        </div>
                        <input type="hidden" id="first" th:value="${pageInfo.getPageNum()}"/>
                        <input type="hidden" id="last" th:value="${pageInfo.pages}"/>
                    </div>
                </div>
            </div>
            <!--右边-->
            <div class="five wide column">
                <!--分类-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <div class="ui fluid vertical menu">
                            <a th:href="@{/blogTypes/1}" class="item">科技类型
                            </a>
                        </div>
                        <div class="ui fluid vertical menu">
                            <a th:href="@{/blogTypes/2}" class="item">情感类型
                            </a>
                        </div>
                        <div class="ui fluid vertical menu">
                            <a th:href="@{/blogTypes/3}" class="item">人生经历
                            </a>
                        </div>
                        <div class="ui fluid vertical menu">
                            <a th:href="@{/blogTypes/4}" class="item">生活小妙招
                            </a>
                        </div>
                        <div class="ui fluid vertical menu">
                            <a th:href="@{/blogTypes/5}" class="item">娱乐文化
                            </a>
                        </div>
                        <div class="ui fluid vertical menu">
                            <a th:href="@{/blogTypes/6}" class="item">其他
                            </a>
                        </div>
                    </div>
                </div>
                <!--最新推荐-->
                <div class="ui segment">
                    <div class="ui secondary segment">
                        <i class="bookmark icon"></i>最新推荐
                    </div>
                    <div class="ui teal segment">
                        <div class="ui fluid vertical menu">
                            <a th:href="@{/announcementBlog}" target="_blank" class="item">公告</a>
                        </div>
                        <div class="ui fluid vertical menu">
                            <a th:href="@{/niceBlog1}" target="_blank" class="item">心灵鸡汤</a>
                        </div>
                        <div class="ui fluid vertical menu">
                            <a th:href="@{/niceBlog2}" target="_blank" class="item">科技兴起</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div th:replace="commons/bar::footer"></div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    })

    // document.onmousedown = function(){
    //     if(event.button == 2){
    //         alert("当前页面不能使用右键！");
    //         return false;
    //     }
    // }
</script>
<script type="text/javascript">
    $(function () {
        pageNum = $("#first").val();
        lastPage = $("#last").val();
        if (lastPage == pageNum) {
            $("#nextPage").removeAttr('href');//去掉a标签中的href属性
            $("#nextPage").removeAttr('onclick');//去掉a标签中的onclick事件
        } else {
            if (pageNum == 1) {
                $("#prePage").removeAttr('href');//去掉a标签中的href属性
                $("#prePage").removeAttr('onclick');//去掉a标签中的onclick事件

            } else if (pageNum != 1) {
                $("#prePage").attr('', 'href');//添加a标签中的href属性
                $("#prePage").attr('', 'onclick');//添加a标签中的onclick事件)
            }
            $("#nextPage").attr('', 'href');//添加a标签中的href属性
            $("#nextPage").attr('', 'onclick');//添加a标签中的onclick事件)

        }

    });
</script>

</body>
</html>