<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>粉丝列表</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="asserts/css/style.css" th:href="@{/asserts/css/style.css}">
    <link rel="shortcut icon" th:href="@{/asserts/image/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/asserts/image/favicon.ico}"/>
    <style>
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            height: 82px;
            line-height: 82px;
            overflow: hidden;
            border-bottom: 1px solid #e0e0e0;
        }
    </style>
</head>
<body>
<!--顶部-->
<div th:replace="commons/bar::topbar" style="margin-left: -.35714286em;margin-right: -.35714286em"></div>
<!--中间-->
<br>
<center>
    <div class="m-padded-tb-max orange ui segment" style="width: 50%;">
        <ul style="list-style:none">
            <li style="height: 50px;line-height: 25px">
                <div>
                    <a th:href="@{/fans/findFaned}" style="color: #808080"><h3 style="float: left">我的关注</h3></a>
                    <span style="float: left;font-size: 25px;">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    <a href="#" style="color: darkorange"><h3 style="float: left">我的粉丝</h3></a>
                    <span style="float: right">共[[${fansCount}]]人</span>
                </div>
            </li>
            <li th:each="fan:${fans}">
                <a th:href="@{/userBlog/}+${fan.user_id}">
                    <img class="img" th:src="${fan.avatar}">
                </a>
                <a th:href="@{/userBlog/}+${fan.user_id}" class="name">[[${fan.user_name}]]</a>
                <a th:href="@{/fans/delFans/}+${fan.user_id}" class="btn btn-sm btn-default button">移除粉丝</a>
            </li>
        </ul>
        <div style="height: 200px"></div>
    </div>
</center>
<!--底部-->
<div style="height: 500px"></div>
<div th:replace="commons/bar::footer"></div>
</body>
</html>